<center><u><h1><%= @director.name %></h1></u></center>
<p><h3> Number of Best Director Oscars: <%= @director.best_director_oscars %></h3></p>
<p><h3> Has Multiple Best Director Nominations? <%= @director.multiple_best_director_nominations %></h3></p>