<center><h1 style="color: MidnightBlue"><%= @director.name %></h1></center>
<p><h3> Number of Best Director Oscars: <%= @director.best_director_oscars %></h3></p>
<p><h3> Has Multiple Best Director Nominations? <%= @director.multiple_best_director_nominations%></h3></p>
<p><h3><%= link_to 'Film Catalogue', "/directors/#{@director.id}/films" %></h3></p>