<head>
<style>
body {
  background-image: url('http://img-aws.ehowcdn.com/1280x/www.onlyinyourstate.com/wp-content/uploads/2016/04/o-10-40.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
</head>

<header><u><h1 style="color:Black;"><center>The Motion-Picture</center></h1></u></header>