<center><h1>New Film</h1></center>

<%= render partial: 'form', locals: {
                                    path: films_path,
                                    method: :post,
                                    name: '',
                                    release_year: '',
                                    best_picture_oscar: '',
                                    button_text: "Add film"} %>
        